<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="ut/bootstrap.php"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        failOnDeprecation="true"
>
    <testsuites>
        <testsuite name="all">
            <file>ut/Test/AutoIdTraitTest.php</file>
            <file>ut/Test/CascadeRemoveTest.php</file>
            <file>ut/Test/CascadeRemoveTraitTest.php</file>
            <file>ut/Test/CascadeRemoveContrastTest.php</file>
            <file>ut/Test/AutoIdTraitPbtTest.php</file>
            <file>ut/Test/CascadeRemoveTraitPbtTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
