<!--suppress XmlUnboundNsPrefix -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.3/phpunit.xsd"
        bootstrap="ut/bootstrap.php"
>
    <testsuites>
        <testsuite name="all">
            <file>ut/Test/AutoIdTraitTest.php</file>
            <file>ut/Test/CascadeRemoveTest.php</file>
            <file>ut/Test/CascadeRemoveTraitTest.php</file>
            <file>ut/Test/CascadeRemoveContrastTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
